@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

.logo {
  width: 100%;
  height: auto;
  box-sizing:border-box;
  margin-bottom: 50px;
}

.tudo {
  width: 100%;
  height: auto;
}

.cidade {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5vw;
}

.cidadeRanking {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5vw;
}

.opcao {
  font-size: 2vw;
}

.grafico {
  font-family: "Arial";
  color: blue;
}
