@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

.logo {
  width: 100%;
  height: auto;
  box-sizing:border-box;
  margin-bottom: 50px;
}

.tudo {
  width: 100%;
  height: auto;
}

.title {
  box-sizing:border-box;
  color: #1094e7;
  margin: 0 auto;
  font-size: 10vw;
  text-shadow: 0px 0px 12px black;
  width: 100%;
  height: auto;
}

.setinha {
  margin-top: 50px;
  color: #1094e7;
  text-shadow: 0px 0px 10px black;
  margin-bottom: 50px;
}

.cidade {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5vw;
}

.cidadeRanking {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5vw;
  background-color: yellow;
}

.opcao {
  font-size: 2vw;
}

.grafico {
  font-family: "Arial";
  color: blue;
}
