@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.logo {
  width: 100%;
  height: auto;
  box-sizing:border-box;
  margin-bottom: 50px;
}

.tudo {
  width: 100%;
  height: auto;
}

.municipioListar {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5vw;
}

.cidadeRanking {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5vw;
}

.opcao {
  font-size: 2vw;
}

.grafico {
  font-family: "Arial";
  color: blue;
}

.boxed {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3vw;
  border: 1px solid black ;
  font-family: 'Rubik Mono One', sans-serif;
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
}

.prop {
  font-family: 'Source Code Pro', monospace;
}

.infoObras {
  margin: 15px;
}

.loader {
    margin: 0 auto;
    border: 16px solid #c67aff; /* Light grey */
    border-top: 16px solid #fbff21; /* Blue */
    border-radius: 80%;
    width: 100px;
    height: 100px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
